body {
    margin: 0; padding: 0;
    text-align: center;
    color: white;
}
button {
    padding: 0; margin: 0;
    background-color: transparent;
    border: none;
}
img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
}
ul {
    width: 60%;
    max-height: 16rem;
    overflow-y: scroll;
    margin: 0 auto;
    list-style: none;
    text-align: left;
    padding-inline-start: 0;
    li {
        background: rgba(211, 211, 211, 0.3);
        padding: 5px 10px;
        margin-bottom: 5px;
        border-radius: 10px;

        button {
            color: white;
            margin-left: auto;
            float: right;
        }
    }
}
ul::-webkit-scrollbar {
    width: 0;
}
input {
    font-size: 1.5rem;
    margin-bottom: 0.5rem; padding: 0.5rem;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    width: 60%;
    text-align: center;
}
.container {
    width: 50%; padding: 3rem;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(128, 128, 128, 0.2);
    border-radius: 2rem;
}
#clock {
    font-size: 8rem;
}
#greeting {
    font-size: 2.5rem;
}
#quote {
    width: 100vh;
    position: absolute;
    bottom: 0; left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 1rem;
}
#weather {
    margin-left: auto;
    width: 150px;
    div:first-child {
        font-size: 1.3rem;
        padding: 0.3rem 0;
    }
}
.hidden {
    display: none;
}

